
@{
    ViewBag.Title = "Degree";
}
<br>
<div class="container body-content">
<div class="row">
    <div class="col-sm-6 professorinfoinfo">
        Please select a deree you would like to learn more about:
    </div>
    <div class="col-sm-6">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select a Degree:
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>@Html.ActionLink("Masters", "Degrees", "Degree", new { type = "Masters" }, null)</li>
                <li>@Html.ActionLink("Bachelors", "Degrees", "Degree", new { type = "Bachelors" }, null)</li>
            </ul>
        </div>
    </div>
</div>
    </div>

