
@{
    ViewBag.Title = "Index";
}



<homepage>
    <div class=" container-fluid">
        <div class=" row">
            <div class=" col-xs-12 nopadding">
                <div class="text-center jumbotron vertical-center">
                    <div class="container">
                        <div class=" row">
                            <div class=" col-xs-12">
                                <h1>BYU Information Systems</h1>
                                <hr width="50%"/><br />
                                <h3>Technology Meets Business</h3>
                                <br />
                                <button class=" btn-lg btn-primary" onclick="" id="link" href="#">
                                   @Html.ActionLink( "Find Out More!",// linkText 
                                                            "FindOutMore",// actionName 
                                                            "Home" //controller
                                                            ) 
                                </button>
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <body></body>
    <hr />
    <a name="FindOutMore"></a>
    <homepagecontent>
        <div class=" conainter JobProspects">
            <div class="row">
                <div class=" col-xs-12">
                    <h2>
                        One of the highest job placement degrees at BYU.
                    </h2>
                    <h3>
                        WIDE VARIETY OF FIELDS
                    </h3>
                </div>
                <div class=" col-xs-12">
                    <div class=" conainter FieldsButtonGroup">
                        <div class=" row">
                            <div class="col-sm-4 col-xs-6 FieldButtonContainer">
                                <div class="PM">
                                    <a href="http://www.bls.gov/ooh/management/computer-and-information-systems-managers.htm" target="_blank">
                                        <div class=" FieldButton">
                                            <p>Project Management</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6 FieldButtonContainer">
                                <div class="WD">
                                    <a href="http://www.bls.gov/ooh/computer-and-information-technology/web-developers.htm" target="_blank">
                                        <div class=" FieldButton">
                                            <p>Web Development</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6 FieldButtonContainer">
                                <div class="SA">
                                    <a href="http://www.bls.gov/ooh/computer-and-information-technology/information-security-analysts.htm" target=" _blank">
                                        <div class=" FieldButton">
                                            <p>Security</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6 FieldButtonContainer">
                                <div class=" ITC">
                                    <a href="http://www.bls.gov/ooh/computer-and-information-technology/computer-systems-analysts.htm" target="_blank">
                                        <div class=" FieldButton">
                                            <p>IT Consulting</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6 FieldButtonContainer">
                                <div class=" ITA">
                                    <a href="http://www.bls.gov/ooh/business-and-financial/accountants-and-auditors.htm" target="_blank">
                                        <div class=" FieldButton">
                                            <p>IT Audit</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6 FieldButtonContainer">
                                <div class="MM">
                                    <a href="https://marriottschool.byu.edu/bsis/careers" target="_blank">
                                        <div class=" FieldButton">
                                            <p>Many More!</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class=" col-xs-12 companies">
                    <h3>WIDE VARIETY OF COMPANIES</h3>
                </div>
                <div class="col-xs-12 jobinfo">

                </div>

            </div>
        </div>
        <div class=" container-fluid whyIS">
            <div class=" row">
                <div class=" col-xs-12">
                    <h1>Why IS?</h1>
                    
                </div>
                <div class=" col-xs-12 video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PMh3Yyx_DA8"></iframe>
                    </div>
                </div>
            </div>
        </div>


    </homepagecontent>
</homepage>
