body {
    background-color:#edf6ff;
}
navbar .myNavBar{
    background-color:#0B386B;
}

navbar .navItems li a{
    color:white!important;
}
navbar .navItems li a:hover{
    color:#dddddd!important;
    background-color:#426c96!important;
    
}

.ISLogo{
    height:44px;
    margin:3px
}

.jumbotron{
    background-image:url("~/../Images/sideLibrary.jpg");
    background-size:cover;
    height:600px;
    background-position:center center;

}
homepage .jumbotron h1{
    text-align:center;
    padding-top:80px;
    font-size:100px;
    color:#edf6ff;
    text-shadow:#edf6ff 0px 0px 10px,
        #001326 0px 0px 10px,
        #0B386B 0px 0px 100px,
        #0B386B 0px 0px 100px;
}

homepage .jumbotron h3{
    text-align:center;
    padding-top:0px;
    font-size:50px;
    color:#edf6ff;
    text-shadow:#edf6ff 0px 0px 10px,
        #001326 0px 0px 10px,
        #0B386B 0px 0px 100px,
        #0B386B 0px 0px 100px;
}

footer
{
    color: blue;
}
.professorinfoheader 
{
    font-size: 20px;
    color: black;

}

.professorinfoinfo
{
    font-size: 20px;
    color: black
}

.professorinfoimg
{
    max-width:300px;
    float:left;
    height:300px;
    width: 100%;
}

.pagetitle
{
    font-size: 40px;
    color:black;
    font-family:Garamond;
}

.pagesubtitle
{
    font-size: 24px;
    color:black;
    font-family:Garamond;
}

.pagequestions
{
    font-size: 20px;
    font-family: 'Times New Roman';
}

