body {
    background-color:#F9F9F9;
}

a:hover{
        text-decoration:none!important;
}
a{
    color:inherit;
}
a:hover{
    color:inherit;
}
.nopadding{
    padding:0px!important;
}

homepage nav a{
    color:white!important;
}

homepage .jumbotron a{
    color:white!important;
}

homepage .jumbotron a:hover{
    text-decoration:none!important;
    color:white!important;
}

homepage nav a:hover{
    color:white!important;
}

navbar .myNavBar{
    background-color:#0B386B;
    border-bottom:none;
}

navbar .navItems li a{
    color:white!important;
    font-size:16px;
    padding:15px;
    border-right: #F9F9F9 solid 1px;
    border-bottom-right-radius:20px;
}
navbar .navItems li a:hover{
    color:white!important;
    text-shadow: #F9F9F9 0px 0px 5px;
    border-top:solid #F9F9F9 2px;
    padding-top:13px;
    padding-right:13px;
        border-right: #F9F9F9 solid 3px;
    border-bottom-right-radius:20px;
    

    
}

.jumbotron button{
    box-shadow: #F9F9F9 0px 0px 10px;
}

.jumbotron button:hover{
    box-shadow: #F9F9F9 0px 0px 20px;
}

.ISLogo{
    height:45px;
    margin:3px
}

.jumbotron{
    background-image:url("~/../Images/sideLibrary.jpg");
    background-size:cover;
    background-size:cover;
    background-repeat:no-repeat;
    height:600px;
    background-position:left center;

}

homepage .jumbotron .container{
    text-align:right;

}

.vertical-center{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

homepage .jumbotron hr{
    border-width:3px;
    border-color:white;
    box-shadow:white 0px 0px 4px,
                black 0px 0px 4px;
    float:left;
}

homepage .jumbotron h1{
    text-align:left;
    font-size:10vw;
    color:#edf6ff;
    text-shadow:#edf6ff 0px 0px 10px,
        #001326 0px 0px 10px,
        #0B386B 0px 0px 100px,
        #0B386B 0px 0px 100px,
        black 0px 0px 3px;
}

homepage .jumbotron h3{
    text-align:left;
    margin-top:10px;
    padding-top:0px;
    font-size:4vw;
    color:#edf6ff;
    text-shadow:#edf6ff 0px 0px 10px,
        #001326 0px 0px 10px,
        #0B386B 0px 0px 100px,
        #0B386B 0px 0px 100px,
        black 0px 0px 3px;
}


homepagecontent h2{
    font-weight:bold;
    color:#444444;
    text-align:center;
}

homepagecontent h3{
    text-align: center;
    font-weight:lighter;
    font-size:20px;
}


.JobProspects .FieldsButtonGroup{
    margin: 10px 40px 30px 10px;

}

.JobProspects .FieldsButtonGroup .FieldButtonContainer{
    padding: 10px 10px 10px 10px;
}


.JobProspects .FieldsButtonGroup .FieldButton{
    text-align:center;
    border:#ddd solid 2px;
    Padding: 40px 0px 40px 0px;
    font-family: 'Century Gothic';
    font-size:16px;
    font-weight:bold;
    background-color:#edf6ff;
}

.JobProspects .FieldsButtonGroup .FieldButton:hover{
    text-align:center;
    border:#ddd solid 2px;
    Padding: 40px 0px 40px 0px;
    font-family: 'Century Gothic';
    text-shadow:white 0px 0px 3px;
    box-shadow: #0B386B 0px 0px 30px;
}

.JobProspects .FieldsButtonGroup .PM .FieldButton:hover{
    background:radial-gradient(rgba(255, 255, 255,1), rgba(255, 255, 255,.8),
                                rgba(255, 255, 255,0), 
                                rgba(255, 255, 255,0),  
                                rgba(255, 255, 255,0)), 
  url("~/../Images/jobs/projectmanagement.jpg");
    background-size:cover;
}
.JobProspects .FieldsButtonGroup .WD .FieldButton:hover{
    background:radial-gradient(rgba(255, 255, 255,1), rgba(255, 255, 255,.8),
                                rgba(255, 255, 255,0), 
                                rgba(255, 255, 255,0),  
                                rgba(255, 255, 255,0)), 
          url("~/../Images/jobs/webdev.jpg");
    background-size:cover;
}
.JobProspects .FieldsButtonGroup .SA .FieldButton:hover{
    background:radial-gradient(rgba(255, 255, 255,1), rgba(255, 255, 255,.8),
                                rgba(255, 255, 255,0), 
                                rgba(255, 255, 255,0),  
                                rgba(255, 255, 255,0)), 
url("~/../Images/jobs/security.jpg");
    background-size:cover;
    background-position:center bottom;
}
.JobProspects .FieldsButtonGroup .ITC .FieldButton:hover{
    background:radial-gradient(rgba(255, 255, 255,1), rgba(255, 255, 255,.8),
                                rgba(255, 255, 255,0), 
                                rgba(255, 255, 255,0),  
                                rgba(255, 255, 255,0)), 
url("~/../Images/jobs/itconsulting.jpg");
    background-size:cover;
    background-position:center bottom;
}
.JobProspects .FieldsButtonGroup .ITA .FieldButton:hover{
    background:radial-gradient(rgba(255, 255, 255,1), rgba(255, 255, 255,.8),
                                rgba(255, 255, 255,0), 
                                rgba(255, 255, 255,0),  
                                rgba(255, 255, 255,0)), 
url("~/../Images/jobs/itaudit.jpg");
    background-size:cover;


}
.JobProspects .FieldsButtonGroup .MM .FieldButton:hover{
    background:radial-gradient(rgba(255, 255, 255,1), rgba(255, 255, 255,.8),
                                rgba(255, 255, 255,0), 
                                rgba(255, 255, 255,0),  
                                rgba(255, 255, 255,0)), 
url("~/../Images/jobs/manymore.jpg");
    background-size:cover;
}


homepagecontent .JobProspects .jobinfo{
    background-image:url("~/../Images/jobs.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center top;
    height:50vw;
   margin-top:25px
}

.whyIS .video{
padding-top:20px;

}

.whyIS{
    text-align:center;
    background-color:#0B386B;
    padding-bottom:50px;
    margin-top:40px
}

.whyIS h1{
    color:#F9F9F9;
}

footer
{
    color: blue;
}
.professorinfoheader 
{
    font-size: 20px;
    color: black;

}

.professorinfoinfo
{
    font-size: 20px;
    color: black
}

.professorinfoimg
{
    max-width:300px;
    float:left;
    height:300px;
    width: 100%;
}

.pagetitle
{
    font-size: 40px;
    color:black;
    font-family:Garamond;
}

.pagesubtitle
{
    font-size: 24px;
    color:black;
    font-family:Garamond;
}

.pagequestions
{
    font-size: 20px;
    font-family: 'Times New Roman';
}

