body {
    background-color:#F9F9F9;
}

a:hover{
        text-decoration:none!important;
}

homepage nav a{
    color:white!important;
}

homepage .jumbotron a{
    color:white!important;
}

homepage .jumbotron a:hover{
    text-decoration:none!important;
    color:white!important;
}

homepage nav a:hover{
    color:white!important;
}

navbar .myNavBar{
    background-color:#0B386B;
    border-bottom:none;
}

navbar .navItems li a{
    color:white!important;
    font-size:16px;
    padding:15px;
    border-right: white solid 1px;
    border-top-right-radius :0px;
    border-bottom-right-radius:20px;
}
navbar .navItems li a:hover{
    color:white!important;
    background-color:#426c96!important;

    
}

.jumbotron button{
    box-shadow: white 0px 0px 10px;
}

.jumbotron button:hover{
    box-shadow: white 0px 0px 20px;
}

.ISLogo{
    height:45px;
    margin:3px
}

.jumbotron{
    background-image:url("~/../Images/sideLibrary.jpg");
    background-size:cover;
    background-size:cover;
    background-repeat:no-repeat;
    height:600px;
    background-position:left center;

}

homepage .jumbotron .container{
    text-align:right;

}

.vertical-center{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

homepage .jumbotron hr{
    border-width:3px;
    border-color:white;
    box-shadow:white 0px 0px 4px,
                black 0px 0px 4px;
    float:left;
}

homepage .jumbotron h1{
    text-align:left;
    font-size:10vw;
    color:#edf6ff;
    text-shadow:#edf6ff 0px 0px 10px,
        #001326 0px 0px 10px,
        #0B386B 0px 0px 100px,
        #0B386B 0px 0px 100px,
        black 0px 0px 3px;
}

homepage .jumbotron h3{
    text-align:left;
    margin-top:10px;
    padding-top:0px;
    font-size:4vw;
    color:#edf6ff;
    text-shadow:#edf6ff 0px 0px 10px,
        #001326 0px 0px 10px,
        #0B386B 0px 0px 100px,
        #0B386B 0px 0px 100px,
        black 0px 0px 3px;
}

footer
{
    color: blue;
}
.professorinfoheader 
{
    font-size: 20px;
    color: black;

}

.professorinfoinfo
{
    font-size: 20px;
    color: black
}

.professorinfoimg
{
    max-width:300px;
    float:left;
    height:300px;
    width: 100%;
}

.pagetitle
{
    font-size: 40px;
    color:black;
    font-family:Garamond;
}

.pagesubtitle
{
    font-size: 24px;
    color:black;
    font-family:Garamond;
}

.pagequestions
{
    font-size: 20px;
    font-family: 'Times New Roman';
}

